
<style>
    .modal {
        top: 5% !important;
    }

    /*.modal-dialog {
        width: 80;
        height: 200px;
    }*/

    .cancelButtonClass {
        background-color: white !important;
        color: black !important;
    }

    /*.circular-modal-window .modal-dialog {
        width: 50%;
    }*/

    /*@@media screen and (min-device-width: 1200px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) {
        .circular-modal-window .modal-lg {
            width: 1200px !important;
        }
    }

    @@media screen and (min-device-width: 1200px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
        .circular-modal-window .modal-lg {
            width: 1200px !important;
        }
    }*/

    /*@@media all and (max-width: 699px) and (min-width: 520px) {
        .circular-modal-window .modal-lg {
            width: 1308px !important;
        }
    }

    @@media all and (max-width: 786px) and (min-width: 520px) {
        .circular-modal-window .modal-lg {
            width: 500px !important;
        }
    }*/

    @@media screen and (min-width:768px) {
        .modal-dialog {
            right: auto;
            left: 50%;
            width: 800px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
        }
    }
</style>
<div ng-init="onInit()">
    <form style="padding:25px;text-align:center;" ng-submit="accepted()" ng-hide="isBusyDownloading">
        @*<h1>{{Circular.Caption}}</h1>*@
        <img ng-src="@Url.Action("DownloadFile","File")/{{Circular.ResourceId}}" style="width:100%;margin-bottom:10px;">
        @*<img src="~/FuelPrices.jpg" style="width:100%;margin-bottom:10px;" />*@
        @*<label style="font-size:15px;margin-bottom:10px;">{{Circular.Remarks}} </label>*@
        <br />
        @*<label style="font-size:16px;margin-bottom:10px;">
            <input type="checkbox" ng-model="hasAgreed" style="margin-top:-3px;height:26px;width:18px;" required />&nbsp;
            <a style="font-size:inherit;color:#274b90;text-decoration:none;">I have read and accepted the above terms.</a>
        </label>*@
        @*<br />*@
        <button class="btn btn-common buttonClass" type="submit" style="height:32px !important;" ng-hide="isProcessing">
            Agree & Continue
        </button>
        @*<input class="btn btn-common buttonClass cancelButtonClass" style="height:32px !important;" type="button" value="No" ng-click="cancel()">*@
    </form>
</div>

