
<div class="row s4-notdlg" style="margin-top:-20px;" ng-hide="divIsBusy">
    <div class="col-md-12">
        <div id="WOQOD-PageTitle">
            <h1 style="padding-bottom:10px;">
                {{userInfo.SiteName}}
            </h1>
        </div>
    </div>
</div>

<style>
    .floatl {
        float: left;
    }

    .divCaption {
        background-color: #f1f1f1 !important;
        padding: 10px !important;
    }

    .dayClass {
        margin-bottom: 10px;
    }

    .custompadding {
        padding: 10px !important;
    }

    .aligncenter {
        text-align: center !important;
    }

    .alignmiddle {
        vertical-align: middle !important;
    }

    .textboxClass {
        background-color: transparent !important;
        border: 0px !important;
        width: 100%;
        height: 100%;
    }

    .buttonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .orderNowButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 87px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .changeOrderButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 100px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    progress[value]::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    progress[value]::-webkit-progress-value {
        background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
        border-radius: 2px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    .divStyle {
        position: absolute;
        width: 43%;
        right: 16px;
        margin-top: 20.5%;
    }

    .progress {
        margin-bottom: 0px;
        width: 100%;
        height: 6px;
        background-color: #033399;
    }

    /*.progress {
        margin-bottom: 0px;
        position: absolute;
        width: 232px;
        height: 6px;
        margin-top: 91px;
        margin-left: 204px;
        background-color: red;
    }*/


    .progress-bar {
        background-color: white;
    }

    .shadowDiv {
        -webkit-box-shadow: 10px 8px 26px -4px rgba(209,201,209,1);
        -moz-box-shadow: 10px 8px 26px -4px rgba(209,201,209,1);
        box-shadow: 10px 8px 26px -4px rgba(209,201,209,1);
        border-radius: 4px;
    }

    .headerclass {
        color: #ffffff;
        font-weight: bold;
        padding: 5px 5px 2px 10px;
        /* padding-left: 15px; */
        font-size: 17px;
        border-bottom: 1px solid;
        border-color: #274b90;
        background-color: #274b90;
        border-radius: 5px;
    }

    .iconcolor {
        color: white !important;
    }

    .creditlimitsize {
        padding-bottom: 12px;
        font-weight: bold;
        font-size: 20px;
    }

    .labelClass {
        color: #274b90;
        font-size: 23px;
        font-weight: bold;
    }

    .labelValueClass {
        font-size: 23px;
    }

    .iconNewStyle {
        color: #009d59;
    }

    .customRowStyle{
        margin-bottom:20px;
    }
</style>

<div class="" ng-init="onInit()" style="min-height:703px;">
    <div class="col-md-12 dayClass" ng-show="divIsBusy" style="position:absolute;width:100%;">
        <div style="position:relative;width:50%;margin:200px auto;">
            <div class="divStyle"><progressbar value="data.progress"></progressbar></div>

            <img style="width:100%;" src="@Url.Content("~/")images/Vehicle.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:20px;" ng-hide="divIsBusy">
            <div class="row customRowStyle">
                <div class="col-md-12">
                    <label class="labelClass"><i class="fa fa-envelope iconNewStyle">&nbsp;</i>Official Email : &nbsp;</label><label class="labelValueClass">{{userInfo.EmailId}}</label>
                </div>
            </div>
            <div class="row customRowStyle">
                <div class="col-md-6">
                    <label class="labelClass"><i class="fa fa-user iconNewStyle">&nbsp;</i>Manager Name : &nbsp;</label><label class="labelValueClass">{{userInfo.UserName}}</label>
                </div>
                <div class="col-md-6">
                    <label class="labelClass"><i class="fa fa-mobile iconNewStyle">&nbsp;</i>Manager Mobile : &nbsp;</label><label class="labelValueClass">{{userInfo.MobileNo}}</label>
                </div>
            </div>
            <div class="row customRowStyle">
                <div class="col-md-6">
                    <label class="labelClass"><i class="fa fa-money iconNewStyle">&nbsp;</i>Accountant Name : &nbsp;</label><label class="labelValueClass"></label>
                </div>
                <div class="col-md-6">
                    <label class="labelClass"><i class="fa fa-mobile iconNewStyle">&nbsp;</i>Accountant Mobile : &nbsp;</label><label class="labelValueClass"></label>
                </div>
            </div>

            <div class="row customRowStyle">
                <div class="col-md-6">
                    <label class="labelClass"><i class="fa fa-user-secret iconNewStyle">&nbsp;</i>Supervisor Name : &nbsp;</label><label class="labelValueClass"></label>
                </div>
                <div class="col-md-6">
                    <label class="labelClass"><i class="fa fa-mobile iconNewStyle">&nbsp;</i>Supervisor Mobile : &nbsp;</label><label class="labelValueClass"></label>
                </div>
            </div>


            @*<input type="checkbox" ng-model="formData.showDashboard" />*@

        </div>

        <div class="col-md-12 dayClass" ng-repeat="day in lstDays" ng-show="formData.showDashboard">
            <div style="position:absolute;right:16px;" class="pull-right">
                <button class="btn btn-common changeOrderButtonClass" ng-show="showChangeOrderButton(day)" ng-click="updateOrder(day)">
                    <span style="color:white;">Change Order</span>
                </button>
                <button class="btn btn-common orderNowButtonClass" ng-show="showOrderNewButton(day)" ng-click="newOrder(day)">
                    <blink>
                        <span style="color:white;">
                            Order Now!
                        </span>
                    </blink>
                </button>


            </div>
            <h2 class="aligncenter" style="margin-bottom:6px;">
                {{day.ActualDate | jsonDate: 'EEEE MMM dd, yyyy'}}
            </h2>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="divCaption"></th>
                        <th class="divCaption aligncenter" ng-repeat="shift in lstShifts" ng-hide="shift.ActualDate != day.ActualDate">
                            {{shift.ShiftName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in day.lstProducts">
                        <td class="divCaption aligncenter">
                            {{product.ProductName}}
                        </td>
                        <td class="aligncenter alignmiddle" ng-repeat="shiftData in product.lstShiftData">
                            {{getCaptionForShift(shiftData)}} &nbsp;{{getCaptionForLoad(shiftData)}}
                            @*<select>
                                <option value="0">Select</option>
                                <option value="1">{{shiftData.LoadCapacity * 1 | number}}</option>
                                <option value="2">{{shiftData.LoadCapacity * 2 | number}}</option>
                                <option value="3">{{shiftData.LoadCapacity * 3 | number}}</option>
                                <option value="4">{{shiftData.LoadCapacity * 4 | number}}</option>
                                <option value="5">{{shiftData.LoadCapacity * 5 | number}}</option>
                            </select>*@
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="aligncenter" style="padding-bottom:100px;margin-top:40px;" ng-show="formData.showDashboard">
            <input class="btn btn-common buttonClass" style="height:32px !important" type="button" ui-sref="viewallorders" value="View All Orders">
            <br />
            <br />
            <label>Placing a <b>"New Order"</b> for current day is not allowed.</label>
            <br />
            <label>Orders must be placed <b>"before 10 AM"</b> for delivery on the next day.</label>
            <br />
            <label>Order updates only allowed <b>2 hours</b> before the start of the shift.</label>
            <br />
            <label><b>Please further assistance please contact +974 4021 7777 (Customer Service).</b></label>


        </div>
    </div>




</div>
