<div class="row s4-notdlg" style="margin-top:-20px;" ng-init="onInit()">
    <div class="col-md-12">
        <div id="WOQOD-PageTitle">
            <h1 style="padding-bottom:10px;">
                Notification Detail
            </h1>
        </div>
    </div>
</div>
<style>

    .buttonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .cancelButtonClass {
        background-color: white !important;
        color: black !important;
    }
</style>
<div ng-init="onInit()">
    <form style="padding:25px;text-align:center;" ng-submit="accepted()" ng-hide="isBusyDownloading">
        @*<h1>{{Circular.Caption}}</h1>*@
        <img ng-src="@Url.Action("DownloadFile","File")/{{Circular.ResourceId}}" style="width:100%;margin-bottom:10px;">
        @*<label style="font-size:15px;margin-bottom:10px;">{{Circular.Remarks}} </label>*@
        <br />
        <a class="btn btn-common buttonClass " style="height:32px !important;"href ="@Url.Action("DownloadFile","File")/{{Circular.ResourceId}}" download>Download</a>
    </form>
</div>
