<div class="row s4-notdlg" style="margin-top:-20px;" ng-init="onInit()">
    <div class="col-md-12">
        <div id="WOQOD-PageTitle">
            <h1 style="padding-bottom:10px;">
                Notifications
                <select ng-show="showCategories" class="form-control ddlfontsize pull-right" style="width:200px;background-color:white;" data-ng-options="category as category.Category for category in lstCategories" ng-change="getAllNotifications()" data-ng-model="formData.Category"></select>
            </h1>

        </div>
    </div>
</div>
<style>
    .floatl {
        float: left;
    }

    .divCaption {
        background-color: #f1f1f1 !important;
        padding: 10px !important;
    }

    /*.dayClass {
        margin-bottom: 10px;
    }*/

    .custompadding {
        padding: 10px !important;
    }

    .aligncenter {
        text-align: center !important;
    }

    .alignmiddle {
        vertical-align: middle !important;
    }

    .textboxClass {
        background-color: transparent !important;
        border: 0px !important;
        width: 100%;
        height: 100%;
    }

    .buttonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .orderNowButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 87px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .changeOrderButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 100px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .cancelButtonClass {
        background-color: white !important;
        color: black !important;
    }

    .selectclass {
        background-color: white !important;
        height: 28px;
        border-color: transparent;
    }

    .datepickerClass {
        background-color: white;
        font-family: "Architype Renner W01 Regular","Univers Next W23" !important;
        font-size: 20px !important;
    }

    .divStyle {
        position: absolute !important;
        width: 43% !important;
        right: 16px !important;
        margin-top: 20.5% !important;
    }

    .progress {
        margin-bottom: 0px !important;
        width: 100% !important;
        height: 6px !important;
        background-color: #033399 !important;
    }

    .progress-bar {
        background-color: white !important;
    }

    .ulstyle li {
        font-size: 16px !important;
        padding-bottom: 7px;
    }

    .ulstyle a {
        font-size: 22px;
        text-decoration: underline;
    }

    .iconcolor {
        color: white !important;
    }

    .categoryclass {
        color: green !important;
        margin-bottom: 0px !important;
        cursor: pointer;
    }

    .fontclass {
        font-weight: bold !important;
        font-size: 20px !important;
    }

    .noRecordClass {
        font-weight: bold;
        font-size: 20px;
        color: #274b90;
    }
</style>
<div style="min-height:703px;" infinite-scroll="getNotifications()" infinite-scroll-distance="1">
    <div class="col-md-12 dayClass" ng-show="downloadingNotifications" style="position:absolute;width:100%;">
        <div style="position:relative;width:50%;margin:200px auto;">
            <div class="divStyle"><progressbar value="data.progress"></progressbar></div>
            <img style="width:100%;" src="@Url.Content("~/")images/Vehicle.png" />
        </div>
    </div>
    <div class="row" ng-hide="downloadingNotifications" style="margin-bottom:10px;cursor:pointer;">
        <div class="col-md-4" style="padding: 20px;" ng-repeat="notification in lstAllNotifications" ng-click="showNotification(notification)">
            <div class="col-md-12" style="border:2px solid #efefef;height:150px;margin-bottom:20px;background:url('@Url.Action("DownloadFile","File")/{{notification.ResourceId}}');background-size:cover;"></div>
            <div class="col-md-12" style="text-align:center;"><label class="categoryclass fontclass">{{notification.Category}}</label>,<br /> <label class="fontclass">{{notification.AnnouncementDate | jsonDate}}</label></div>
        </div>
    </div>
    <div class="row" ng-show="lstAllNotifications == null || lstAllNotifications.length == 0" >
        <div class="col-md-12" ng-hide="downloadingNotifications" style="text-align:center;">
            <label class="noRecordClass">No Notifications found</label>
        </div>
    </div>

</div>

