
<div class="row s4-notdlg" style="margin-top:-20px;" ng-init="onInit()">
    <div class="col-md-12">
        <div id="WOQOD-PageTitle">
            <h1 style="padding-bottom:10px;">
                Deliveries - {{SiteName}}
                @*<select ng-show="showCategories" class="form-control ddlfontsize pull-right" style="width:200px;background-color:white;" data-ng-options="category as category.Category for category in lstCategories" ng-change="getAllNotifications()" data-ng-model="formData.Category"></select>*@
            </h1>

        </div>
    </div>
</div>
<style>
    .floatl {
        float: left;
    }

    .divCaption {
        background-color: #f1f1f1 !important;
        padding: 7px 0px 7px 10px !important;
    }

    .dayClass {
        margin-bottom: 10px;
    }

    .custompadding {
        padding: 10px !important;
    }

    .aligncenter {
        text-align: center !important;
    }

    .alignmiddle {
        vertical-align: middle !important;
    }

    .textboxClass {
        background-color: transparent !important;
        border: 0px !important;
        width: 100%;
        height: 100%;
    }

    .buttonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .receiveButtonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #009d59 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .viewButtonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .orderNowButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 87px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .changeOrderButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 100px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .cancelButtonClass {
        background-color: white !important;
        color: black !important;
    }

    .selectclass {
        background-color: white !important;
        height: 28px;
        border-color: transparent;
    }

    .datepickerClass {
        background-color: white;
        font-family: "Architype Renner W01 Regular","Univers Next W23" !important;
        font-size: 20px !important;
    }

    .defaultpadding {
        padding: 5px !important;
    }

    .defaulttextallignment {
        text-align: left !important;
    }

    .icondefaultcolor {
        color: white !important;
    }

    .greencolor {
        color: green !important;
    }

    .orangecolor {
        color: orange !important;
    }

    th {
        font-weight: bold !important;
    }

    .divStyle {
        position: absolute;
        width: 43%;
        right: 16px;
        margin-top: 20.5%;
    }

    .progress {
        margin-bottom: 0px;
        width: 100%;
        height: 6px;
        background-color: #033399;
    }

    .progress-bar {
        background-color: white;
    }

    .underConstructionClass {
        font-size: 23px;
        color: orange;
    }

    .tdlineheight{
        line-height:27px !important;
    }
</style>
<div style="min-height:703px;" infinite-scroll="getNotifications()" infinite-scroll-distance="1">
    <div class="col-md-12 dayClass" ng-show="downloadingNotifications" style="position:absolute;width:100%;display:none;">
        <div style="position:relative;width:50%;margin:200px auto;">
            <div class="divStyle"><progressbar value="data.progress"></progressbar></div>
            <img style="width:100%;" src="@Url.Content("~/")images/Vehicle.png" />
        </div>
    </div>
    
    <div class="row" ng-show="lstAllNotifications == null || lstAllNotifications.length == 0">
        <div class="col-md-12 dayClass" ng-hide="divIsBusy">
            <div>
                <div class="form-group" style="width:200px;float:left;padding-right:10px;">
                    From :
                    <div class="input-group date">
                        <input type="datetime" class="form-control myclass" min-date="minDate" placeholder="From Date" is-open="fromOpen" show-button-bar="false" datepicker-popup="dd/MM/yyyy" ng-model="fromDate" ng-click="fromOpen=true" auto-close="false" required />
                        <span class="input-group-addon" ng-click="fromOpen=true;$event.stopPropagation();"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="form-group" style="width:200px;float:left;padding-right:10px;">
                    To :
                    <div class="input-group date">
                        <input type="datetime" class="form-control myclass" min-date="minDate" placeholder="To Date" is-open="toOpen" show-button-bar="false" datepicker-popup="dd/MM/yyyy" ng-model="toDate" ng-click="toOpen=true" auto-close="false" required />
                        <span class="input-group-addon" ng-click="toOpen=true;$event.stopPropagation();"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="form-group" style="width:200px;float:left;padding-right:10px;">
                    Product :
                    <select class="form-control" data-ng-options="product as product.ProductName for product in lstProducts" data-ng-model="selectedProduct" required></select>
                </div>
                <div class="form-group" style="width:200px;float:left;padding-right:10px;padding-top:22px !important;">
                    <button class="btn btn-common buttonClass" style="height:32px !important;padding:0px 10px 0px 10px !important;" type="button" ng-click="refreshOrders();">
                        <i class="fa fa-refresh icondefaultcolor">&nbsp;&nbsp;</i>Search
                    </button>
                </div>

            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="divCaption">Order No.</th>
                        <th class="divCaption">Driver</th>
                        <th class="divCaption">Date</th>
                        <th class="divCaption">Product</th>
                        <th class="divCaption aligncenter">Quantity</th>
                        <th class="divCaption aligncenter">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in lstOrders">
                        <td class="aligncenter defaulttextallignment defaultpadding tdlineheight">
                            {{order.OrderNum}}
                        </td>
                        <td class="defaultpadding tdlineheight">
                            {{order.Driver}}
                        </td>
                        <td class="defaultpadding tdlineheight">
                            {{order.OrderDate | date}}
                        </td>
                        <td class="aligncenter defaulttextallignment defaultpadding tdlineheight">
                            {{order.ProductName}}
                        </td>
                        <td class="aligncenter defaultpadding tdlineheight">
                            {{order.Quantity | number}}
                        </td>
                        <td class="aligncenter defaultpadding">
                            <button ng-show="order.Status == 1" class="btn btn-common receiveButtonClass" style="height:26px !important;padding:0px 10px 0px 10px !important;" type="button" ng-click="receiveOrder(order);">
                                <i class="fa fa-inbox icondefaultcolor">&nbsp;&nbsp;</i>Receive
                            </button>
                            <button ng-show="order.Status == 2" class="btn btn-common viewButtonClass" style="height:26px !important;min-width:85px !important;padding:0px 10px 0px 10px !important;" type="button" ng-click="refreshOrders();">
                                <i class="fa fa-eye icondefaultcolor">&nbsp;&nbsp;</i>View
                            </button>
                            @*<label ng-class="{'greencolor': order.IsExported == true, 'orangecolor' : order.IsExported == false}">{{order.IsExported == true ? 'Processed' : 'Pending' }}</label>*@
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="aligncenter" style="padding-bottom:100px;margin-top:20px;" ng-hide="divIsBusy">
            <button ui-sref="homemanage" class="btn btn-common buttonClass" style="height:32px !important;padding:0px 15px 0px 15px !important;" type="button"><i class="fa fa-check icondefaultcolor">&nbsp;&nbsp;</i>Done</button>
        </div>
        @*<div class="col-md-12" ng-hide="downloadingNotifications" style="text-align:center;">
            <label class="noRecordClass">No Deliveries found</label>
        </div>*@
    </div>

</div>

