
<div class="row s4-notdlg" style="margin-top:-20px;" ng-init="onInit()">
    <div class="col-md-12">
        <div id="WOQOD-PageTitle">
            <h1 style="padding-bottom:10px;">
                Deliveries - {{SiteName}}
                @*<select ng-show="showCategories" class="form-control ddlfontsize pull-right" style="width:200px;background-color:white;" data-ng-options="category as category.Category for category in lstCategories" ng-change="getAllNotifications()" data-ng-model="formData.Category"></select>*@
            </h1>

        </div>
    </div>
</div>
<style>
    .floatl {
        float: left;
    }

    .divCaption {
        background-color: #f1f1f1 !important;
        padding: 7px 0px 7px 10px !important;
    }

    .dayClass {
        margin-bottom: 10px;
    }

    .custompadding {
        padding: 10px !important;
    }

    .aligncenter {
        text-align: center !important;
    }

    .alignmiddle {
        vertical-align: middle !important;
    }

    .textboxClass {
        background-color: transparent !important;
        border: 0px !important;
        width: 100%;
        height: 100%;
    }

    .buttonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .receiveButtonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #009d59 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .viewButtonClass {
        margin-left: 0px !important;
        padding: 4px 50px !important;
        background-color: #274b90 !important;
        color: white !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        height: 32px !important;
    }

    .orderNowButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 87px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .changeOrderButtonClass {
        background-color: #274b90 !important;
        color: white !important;
        font-size: 13px !important;
        line-height: 14px;
        width: 100px !important;
        text-align: center;
        padding-left: 7px;
        padding-top: 7px;
    }

    .cancelButtonClass {
        background-color: white !important;
        color: black !important;
    }

    .selectclass {
        background-color: white !important;
        height: 28px;
        border-color: transparent;
    }

    .datepickerClass {
        background-color: white;
        font-family: "Architype Renner W01 Regular","Univers Next W23" !important;
        font-size: 20px !important;
    }

    .defaultpadding {
        padding: 5px !important;
    }

    .defaulttextallignment {
        text-align: left !important;
    }

    .icondefaultcolor {
        color: white !important;
    }

    .greencolor {
        color: green !important;
    }

    .orangecolor {
        color: orange !important;
    }

    th {
        font-weight: bold !important;
    }

    .divStyle {
        position: absolute;
        width: 43%;
        right: 16px;
        margin-top: 20.5%;
    }

    .progress {
        margin-bottom: 0px;
        width: 100%;
        height: 6px;
        background-color: #033399;
    }

    .progress-bar {
        background-color: white;
    }

    .underConstructionClass {
        font-size: 23px;
        color: orange;
    }

    .tdlineheight {
        line-height: 27px !important;
    }

    .childstyles {
        font-family: inherit !important;
        font-size: 13px;
        font-weight: 700 !important;
    }
</style>
<div style="min-height:703px;" infinite-scroll="getNotifications()" infinite-scroll-distance="1">
    @*<div class="col-md-12 dayClass" ng-show="downloadingNotifications" style="position:absolute;width:100%;display:none;">
            <div style="position:relative;width:50%;margin:200px auto;">
                <div class="divStyle"><progressbar value="data.progress"></progressbar></div>
                <img style="width:100%;" src="@Url.Content("~/")images/Vehicle.png" />
            </div>
        </div>*@
    <div class="col-md-12" ng-show="validateVehicle && !hasError">
        <div style="width:365px;margin:0 auto;">
            <b style="float:left;font-size:20px;">Please Enter Vehicle Number : &nbsp;</b><input ng-model="vehicleCode" style="float:left;width:100px;" class="form-control" type="text" maxlength="5" placeholder="V294D" /><br>
            <div style="clear:both;"></div>
        </div>
        <div style="width:365px;margin:0 auto; padding-top:20px; text-align:center;">
            <button class="btn btn-common buttonClass" ng-click="validate()" style="height:32px !important;padding:0px 15px 0px 15px !important;" type="button"><i class="fa fa-check icondefaultcolor">&nbsp;&nbsp;</i>Submit</button>
        </div>

    </div>
    <div class="col-md-12" ng-show="hasError">
        <div style="width:274px;margin:0 auto;">
            <b style="float:left;font-size:20px;">Vehicle No is not valid for this order</b>
            <div style="clear:both;"></div>
        </div>
        <div style="width:274px;margin:0 auto; padding-top:20px; text-align:center;">
            <button class="btn btn-common buttonClass" ng-click="validateVehicle=true;hasError=false;" style="height:32px !important;padding:0px 15px 0px 15px !important;" type="button"><i class="fa fa-refresh icondefaultcolor">&nbsp;&nbsp;</i>Try Again</button>
        </div>

    </div>
    <div class="col-md-12" style="padding-top:20px;border:1px solid #e4dcdc;padding-bottom:10px;" ng-hide="validateVehicle">
        <div class="row">
            <div class="col-md-4">
                <p style="font-family:Arial !important;line-height:19px;">
                    <b style="font-size:22px;font-family:inherit;">QATAR FUEL</b><br />
                    <b style="font-size:15px;font-family:inherit;">OPERATIONS DEPARTMENT</b><br />
                    <b class="childstyles">P.O. Box : 7777</b><br />
                    <b class="childstyles">DOHA : QATAR</b><br />
                    <b class="childstyles">Companies : 40218174 / 75</b><br />
                    <b class="childstyles">P.Stations : 40218184 / 85</b><br />
                    <b class="childstyles">Fax : 44691915</b>
                </p>
            </div>
            <div class="col-md-4">
                <div style="width:120px;margin:0 auto;">
                    <img style="width:120px;height:120px;" src="@Url.Content("~/")Areas/OL_Delivery/Images/LogoW.jpg" />
                </div>
                <div style="font-family:Arial;width: 117px;margin: 4px auto;">
                    <b style="font-family:inherit;font-size:29px;">وصل إيصال</b>
                </div>
                <div style="font-family:Arial;width: 173px;margin: 4px auto;">
                    <b style="font-family:inherit;font-size:18px;">DELIVERY RECEIPT</b>
                </div>

            </div>
            <div class="col-md-4" dir="rtl">
                <p style="font-family:Arial !important;line-height:19px;margin-top:-3px;">
                    <b style="font-size:22px;font-family:inherit;">قطر للوقود</b><br />
                    <b style="font-size:15px;font-family:inherit;">قسم العمليات</b><br />
                    <b class="childstyles">ص. صندوق : ۷۷۷۷</b><br />
                    <b class="childstyles">قطر : الدوحة</b><br />
                    <b class="childstyles">الشركات : ٤۷۱۸۱۲۰٤</b><br />
                    <b class="childstyles"> محطة وقود: ٤۷۱۸۱۲۰٤</b><br />
                    <b class="childstyles">فاكس : ٤٤٦۹۱۹۱۵</b>
                </p>
            </div>
        </div>
        <div class="row" style="padding-top: 28px;">
            <div class="col-md-6" style="font-family:Arial !important;">
                <b style="font-family:inherit;color: #274b90;font-size: 20px;">TEYSEER PETROL STATION (TEYSER)</b> <br />
                <b style="font-family:inherit;color: #274b90;font-size: 16px;padding-left: 4px;line-height: 38px;">L.P.O Ref #</b>
            </div>
            <div class="col-md-6" style="font-family:Arial !important;text-align:right;">
                <b style="font-family:inherit;font-size: 16px;">D. Receipt No # </b><b style="font-family:inherit;color: #274b90;font-size: 16px;">101467011</b> <br />
                <b style="font-family:inherit;font-size: 16px;padding-left: 4px;line-height: 38px;">Date # </b><b style="font-family:inherit;color: #274b90;font-size: 16px;padding-left: 4px;line-height: 38px;">20-12-2016</b>
            </div>
        </div>
        <div class="row" style="padding-top: 16px;">
            <div class="col-md-6" style="font-family:Arial !important;">
                <b style="font-family:inherit;font-size: 16px;">Product :&nbsp;</b><b style="font-family:inherit;color: #274b90;font-size: 16px;">Premium 91 R </b> <br />
                <b style="font-family:inherit;font-size: 16px;line-height: 38px;">Driver &nbsp;&nbsp;&nbsp;:&nbsp;</b><b style="font-family:inherit;color: #274b90;font-size: 16px;line-height: 38px;">Abdulla Said Al Bulushi, Khalifa</b>
            </div>
        </div>
        <div class="row" style="padding-top: 16px;">
            <div class="col-md-6" style="font-family:Arial !important;">
                <b style="font-family:inherit;font-size: 16px;">Vehicle / Tanker :&nbsp;</b><b style="font-family:inherit;color: #274b90;font-size: 16px;">V294D</b> <br />
                <b style="font-family:inherit;font-size: 16px;line-height: 38px;">Quantity &nbsp;:&nbsp;</b><b style="font-family:inherit;color: #274b90;font-size: 16px;line-height: 38px;">29,001 ltrs</b>
            </div>
            <div class="col-md-6" style="font-family:Arial !important;text-align:right;">
                <b style="font-family:inherit;font-size: 16px;">Order No # &nbsp;</b><b style="font-family:inherit;color: #274b90;font-size: 16px;">101316758</b> <br />
                <b style="font-family:inherit;font-size: 16px;line-height: 38px;">Seal No # &nbsp;:&nbsp;</b><b style="font-family:inherit;color: #274b90;font-size: 16px;line-height: 38px;">42134 89-99</b>
            </div>
        </div>
        <div class="row" style="padding-top: 25px;">
            <div class="col-md-6" style="font-family:Arial !important;">
                <b style="font-family:inherit;font-size: 16px;">Loading Section :&nbsp;</b><b style="font-family:inherit;color: #274b90;font-size: 16px;text-decoration:underline;">Alaaldin Abdullah</b>
            </div>
            <div class="col-md-6" style="font-family:Arial !important;text-align:right;">
                <b style="font-family:inherit;font-size: 16px;">Received By :&nbsp;</b><b style="font-family:inherit;color: #274b90;font-size: 16px;text-decoration:underline;">Saqib Vaid.</b> <br />
            </div>
        </div>
        

    </div>

    <div class="row" style="padding-top:5px;" ng-hide="validateVehicle">
        <div style="clear:both;"></div>
        <div class="aligncenter" style="padding-bottom:100px;margin-top:20px;" ng-hide="divIsBusy">
            <button ui-sref="homemanage" class="btn btn-common buttonClass" style="height:32px !important;padding:0px 15px 0px 15px !important;" type="button"><i class="fa fa-download icondefaultcolor">&nbsp;&nbsp;</i>Download</button>
        </div>
    </div>


</div>


