 .fc-event-title {
        cursor: pointer;
    }

    .fc-event-time {
        visibility: hidden;
        height: 0px;
    }

    .fc-event {
        border: #e7eaec !important;
        background-color: transparent !important;
        color: #fff;
        font-size: .85em;
        cursor: default;
    }

    .fc-day-number {
        font-weight: bold;
        font-size: 20px;
    }

    .fc-grid .fc-day-number {
        margin-right: 15px;
        margin-top: 4px;
    }
    /*------------------------*/
    .checkmark {
        display: inline-block;
        width: 22px;
        height: 22px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .checkmark_circle {
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: green;
        border-radius: 11px;
        left: 0;
        top: 0;
    }

    .checkmark_stem {
        position: absolute;
        width: 3px;
        height: 9px;
        background-color: #fff;
        left: 11px;
        top: 6px;
    }

    .checkmark_kick {
        position: absolute;
        width: 3px;
        height: 3px;
        background-color: #fff;
        left: 8px;
        top: 12px;
    }

    .numberCircleA {
        border-radius: 21%;
        behavior: url(PIE.htc);
        width: 32px;
        height: 30px;
        padding: 8px;
        background: #1ab394;
        border: 2px solid #666;
        color: #FFF;
        text-align: center;
        font: 14px Arial, sans-serif;
    }

    .numberCircleR {
        border-radius: 21%;
        behavior: url(PIE.htc);
        width: 32px;
        height: 30px;
        padding: 8px;
        background: #f8ac59;
        border: 2px solid #666;
        color: #FFF;
        text-align: center;
        font: 14px Arial, sans-serif;
    }

    .modal-backdrop.in {
        opacity: 0;
    }

    .modal-backdrop {
        top: auto;
    }

    .btn {
        padding: 2px 12px;
    }
    /**/
    #picinfo {
        float: right;
    }
    /*-----------------------------*/
    .sweet-alert button {
        padding: 0 32px !important;
    }
    /*---------------------------------*/


    /*Mobile Mode*/
     @media screen and (max-width:1024px) {
        .tblstructurecodecls {
            display: none !important;
        }

        .pgeheading {
            margin-top: 8px !important;
        }

        .tblheader {
            display: none !important;
        }

        .tblheaderhide {
            display: inline !important;
        }

        .divinforound {
            display: inline !important;
        }

        .roundmark {
            display: inline !important;
        }

        .modal-dialog {
            width: 100% !important;
            margin-top: 60% !important;
        }
    }

    .circleBase {
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    }

    .typecngereq {
        width: 20px;
        height: 20px;
        background: red;
        border: 2px solid blue;
    }

    .typecngenormal {
        width: 20px;
        height: 20px;
        background: green;
        border: 2px solid blue;
    }