 /*---------------------------------------------*/
    .fc-widget-header, .fc-widget-content {
        border: none !important;
    }

    .fc-day-header {
        display: none;
    }
    /*---------------------------------------------*/
    @media screen and (max-width:1024px) {
        .pgeheading {
            margin-top: 8px !important;
        }
    }
    .fc-event-time {
        display: none !important;
    }