<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JWT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <JWT.Properties.Settings>
        <setting name="CookieKey" serializeAs="String">
          <value>WoqodLDS</value>
        </setting>
        <setting name="SecretAccessKey" serializeAs="String">
          <value>Woq@#$%</value>
        </setting>
        <setting name="KeepAliveTime" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="EmailKeepAliveTime" serializeAs="String">
          <value>10080</value>
        </setting>
        <setting name="UnableToEncode" serializeAs="String">
          <value>UnableToEncode</value>
        </setting>
        <setting name="UnableToDecode" serializeAs="String">
          <value>UnableToDecode</value>
        </setting>
        <setting name="TokenExpired" serializeAs="String">
          <value>TokenExpired</value>
        </setting>
        <setting name="PasswordPrivateKey" serializeAs="String">
          <value>ZK%@(^</value>
        </setting>
        <setting name="InternalKeepAlive" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="CookieNotFound" serializeAs="String">
          <value>CookieNotFound</value>
        </setting>
      </JWT.Properties.Settings>
    </applicationSettings>
</configuration>