<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ZWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <ZWeb.Properties.Settings>
      <setting name="LoginLinkExpired" serializeAs="String">
        <value>Your Login Link has Expired.</value>
      </setting>
      <setting name="NotAuthorized" serializeAs="String">
        <value>You are not authorized to login.</value>
      </setting>
      <setting name="AppToken" serializeAs="String">
        <value>EvFh4#DF</value>
      </setting>
      <setting name="TokenExpired" serializeAs="String">
        <value>TokenExpired</value>
      </setting>
      <setting name="CookieKey" serializeAs="String">
        <value>WoqodLDO</value>
      </setting>
      <setting name="CookieNotFound" serializeAs="String">
        <value>Cookie Not Found</value>
      </setting>
      <setting name="MediaType" serializeAs="String">
        <value>application/json</value>
      </setting>
      <setting name="BadRequest" serializeAs="String">
        <value>Bad Request</value>
      </setting>
      <setting name="ValidateUserApi" serializeAs="String">
        <value>api/Login/ValidateUser</value>
      </setting>
      <setting name="SaveUserApi" serializeAs="String">
        <value>api/Login/SaveNewUser</value>
      </setting>
      <setting name="LoginUserApi" serializeAs="String">
        <value>api/Login/Login</value>
      </setting>
      <setting name="IsLoggedInApi" serializeAs="String">
        <value>api/Login/IsLoggedIn</value>
      </setting>
      <setting name="ResetPasswordApi" serializeAs="String">
        <value>api/Login/ResetPassword</value>
      </setting>
      <setting name="GetSitesApi" serializeAs="String">
        <value>api/Order/GetSiteList</value>
      </setting>
      <setting name="GetProductsApi" serializeAs="String">
        <value>api/Order/GetProductsList</value>
      </setting>
      <setting name="GetShiftsApi" serializeAs="String">
        <value>api/Order/GetShifts</value>
      </setting>
      <setting name="PlaceOrderApi" serializeAs="String">
        <value>api/Order/PlaceOrder</value>
      </setting>
      <setting name="DiaryApi" serializeAs="String">
        <value>api/Diary/GetDiarySummary</value>
      </setting>
      <setting name="BaseAddress" serializeAs="String">
        <value>http://woqv-webdev.woqod.com/TestLDOAPI/</value>
      </setting>
      <setting name="MakehtmlForPopUp" serializeAs="String">
        <value>api/Diary/MakehtmlForPopUp</value>
      </setting>
      <setting name="GetCustomerInfoMethod" serializeAs="String">
        <value>api/Diary/GetCustomerInfoMethod</value>
      </setting>
      <setting name="GetHtmlonEventClickurl" serializeAs="String">
        <value>api/Diary/MakehtmlForPopUpEdit</value>
      </setting>
      <setting name="SavePsPlaningOnlineApiurl" serializeAs="String">
        <value>api/Diary/SavePsPlaningOnline</value>
      </setting>
      <setting name="DiscardPlaningOnlineApiurl" serializeAs="String">
        <value>api/Diary/DiscardPsPlaningOnline</value>
      </setting>
      <setting name="GetHtmlsitePlanTodayApiurl" serializeAs="String">
        <value>api/Diary/GetDiaryDataToday</value>
      </setting>
      <setting name="ServerHeader" serializeAs="String">
        <value>Server</value>
      </setting>
      <setting name="GetSiteOrdersApi" serializeAs="String">
        <value>api/Ordering/GetSiteOrders</value>
      </setting>
      <setting name="GetDataForNewOrderApi" serializeAs="String">
        <value>api/Ordering/GetDataForNewOrder</value>
      </setting>
      <setting name="SaveNewOrderApi" serializeAs="String">
        <value>api/Ordering/SaveNewOrder</value>
      </setting>
      <setting name="DiaryDayApi" serializeAs="String">
        <value>api/Diary/GetDiaryDataMonth</value>
      </setting>
      <setting name="GetSearchedOrdersApi" serializeAs="String">
        <value>api/Ordering/GetSearchedOrders</value>
      </setting>
      <setting name="AcceptTerms" serializeAs="String">
        <value>Accept Terms &amp; Conditions</value>
      </setting>
      <setting name="UpdateUserAgreementStatusApi" serializeAs="String">
        <value>api/Ordering/UpdateUserAgreementStatus</value>
      </setting>
      <setting name="GetCreditLimitApi" serializeAs="String">
        <value>api/Ordering/GetCreditLimit</value>
      </setting>
      <setting name="GetSiteBasicInformationApi" serializeAs="String">
        <value>api/Ordering/GetSiteBasicInformation</value>
      </setting>
      <setting name="ValidateActivationUserApi" serializeAs="String">
        <value>api/Login/ValidateActivationUser</value>
      </setting>
      <setting name="GetPendingCircularApi" serializeAs="String">
        <value>api/Ordering/GetPendingCircular</value>
      </setting>
      <setting name="UpdateCircularStatusApi" serializeAs="String">
        <value>api/Ordering/UpdateCircularStatus</value>
      </setting>
      <setting name="GetAcceptedNotificationsApi" serializeAs="String">
        <value>api/Ordering/GetAcceptedNotifications</value>
      </setting>
      <setting name="GetAllAcceptedNotificationsApi" serializeAs="String">
        <value>api/Ordering/GetAllAcceptedNotifications</value>
      </setting>
      <setting name="DownloadApi" serializeAs="String">
        <value>api/File/Download</value>
      </setting>
      <setting name="GetPortalNotificationCategoryApi" serializeAs="String">
        <value>api/Ordering/GetPortalNotificationCategory</value>
      </setting>
      <setting name="AttachmentName" serializeAs="String">
        <value>Attachment</value>
      </setting>
    </ZWeb.Properties.Settings>
  </applicationSettings>
</configuration>
